.main{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}
.spinner{
    align-self: center;
    margin: 0.5rem;
}
p{
    font-size: large;
    margin-right: 0.5rem;
    margin: auto;
    margin-right: 1rem;
}
mat-spinner{
}