:host{
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;

    button {
    }
}
.description{
    p {
        font-size: medium;
    }
}
.spinner{
    align-self: flex-end;
    margin: 0.5rem;
    min-width: 40px;
    min-height: 30px;
}
p{
    font-size: large;
    margin: auto;
    margin-right: 1rem;
    margin-left: 0;
}
mat-divider{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}