<p>
  <mat-toolbar color="primary">
  <span>DB Performance Tester</span>
  <span class="example-spacer"></span>
</mat-toolbar>
</p>
<div id="mainContent">
<mat-card id="firstCard" class="card">
  <mat-card-header>
    <mat-card-title>Test cases</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-form-field">
      <mat-label>iterations</mat-label>
    <input matInput type="number" [(ngModel)]="iterations"></mat-form-field>
    <app-test-case 
    *ngFor="let case of testCases"
    [testName]="case.name"
    [description]="case.description"
    [staticSettings]="case.staticSettings"
    [iterations]="iterations"
    (testResults)="onTestResult($event)"
    />

  </mat-card-content>
</mat-card>
<mat-card class="card chartCard">
  <mat-card-header>
    <mat-card-title>Results</mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <ngx-charts-box-chart
      [results]="testResults.data"
      [xAxisLabel]="'databases'"
      [yAxisLabel]="'time [ms]'"
      [view]="chartSize"
      ></ngx-charts-box-chart>
    </mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Results table</mat-card-title>
  </mat-card-header>
    <mat-card-content>
      <table mat-table [dataSource]="tableData" class="mat-elevation-z3">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="database">
          <th mat-header-cell *matHeaderCellDef> database </th>
          <td mat-cell *matCellDef="let element"> {{element.database}} </td>
        </ng-container>
      
        <ng-container matColumnDef="min">
          <th mat-header-cell *matHeaderCellDef> min </th>
          <td mat-cell *matCellDef="let element"> {{element.min.toFixed(2)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="max">
          <th mat-header-cell *matHeaderCellDef> max </th>
          <td mat-cell *matCellDef="let element"> {{element.max.toFixed(2)}} </td>
        </ng-container>

        <ng-container matColumnDef="mean">
          <th mat-header-cell *matHeaderCellDef> mean </th>
          <td mat-cell *matCellDef="let element"> {{element.mean.toFixed(2)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="q25">
          <th mat-header-cell *matHeaderCellDef> q25 </th>
          <td mat-cell *matCellDef="let element"> {{element.q25.toFixed(2)}} </td>
        </ng-container>
      
        <ng-container matColumnDef="q50">
          <th mat-header-cell *matHeaderCellDef> q50 </th>
          <td mat-cell *matCellDef="let element"> {{element.q50.toFixed(2)}} </td>
        </ng-container>
        
        <ng-container matColumnDef="q75">
          <th mat-header-cell *matHeaderCellDef> q75 </th>
          <td mat-cell *matCellDef="let element"> {{element.q75.toFixed(2)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </mat-card-content>
</mat-card>
</div>
<router-outlet></router-outlet>
